<div class="row">
    <p>Choose your move</p>
    <div class="row">
      <div class="col-md-3">
        <button class=".button-rock" (click)="selectPlayerAction(GameActions.ROCK)">ROCK</button>
      </div>
      <div class="col-md-3">
        <button class=".button-paper" (click)="selectPlayerAction(GameActions.PAPER)">PAPER</button>
      </div>
      <div class="col-md-3">
        <button class=".button-scissors" (click)="selectPlayerAction(GameActions.SCISSORS)">SCISSORS</button>
      </div>
    </div>
  </div>
  